.p-feature{
    width: 99%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.p-feature:hover{
    background-color: #DCDCDC;
    border-left: 2px solid #96C946;
}