.container-menu{
    width: 100%;
    height: 20vmin;
    background-color: #FFFAFA;
    flex-direction: row;
    display: flex;
}

.border{
    width: 100%;
    height: .5vmin;
    background-image: linear-gradient(to left, #96C946, #1D6B91);
}

.cont-logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
}

.cont-pesquisa{
    width: 50%;
    height: 100%;
}

.cont-topicos{
    width: 100%;
    height: 9vmin;
}

.topico{
    margin-left: 5vmin;
    text-decoration: none;
}

.cont-search{
    width: 100%;
    height: 9vmin;
}

.img-style{
    width: 40vmin;
    height: 10vmin;
    align-self: center;
    margin-left: 5vmin;
}