.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont-site{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    background-color: #F8F8FF;
}

a{
  color: black;
  user-select: none;
  text-decoration: none;
  margin-top: 2.5vmin;
  margin-bottom: 2.5vmin;
}

a:hover{
  font-weight: bold;
}

img{
  user-select: none;
}